header{
    display: flex;
    justify-content: space-around;
    background-color: #17abb3;
    text-align: left;
    color: #fff;
}

@font-face{
    font-family: raleway;
    src: url(https://fonts.google.com/specimen/Raleway);
}

hr{
    color: #17abb3;
    width: 95%;
}

h3{
    color: #17abb3;
    text-indent: 3%;
}

img{
    width: 10%;
    border: 1rem;
    border-radius: 80%;
    border-color: #fff;
}


main{
    display: flex;
    justify-content: space-around;
    /*line-height: 1.1rem;*/
}

#gauche{
    flex: 1;
    background-color: rgb(245, 245, 245);
}

#droite{
    flex: 3;
    line-height: 1.1em;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #17abb3;
}

#alinea{
    text-indent: 5%;
    text-align: justify;
}

.date{
    color: #17abb3;
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
}